files/lastTasks.json
files/c4.json
files/hangman.json
files/stats.json
files/lost.json
files/locked.json
files/ufora_notifications.json
files/compbio_benchmarks_2.json
files/compbio_benchmarks_4.json
.idea/
__pycache__
.env
/venv/
.pytest_cache