aiohttp==3.8.1
alembic==1.8.0
asyncpg==0.25.0
beautifulsoup4==4.11.1
discord.py==2.0.1
git+https://github.com/Rapptz/discord-ext-menus@8686b5d
environs==9.5.0
feedparser==6.0.10
ics==0.7.2
markdownify==0.11.2
overrides==6.1.0
pydantic==1.9.1
python-dateutil==2.8.2
pytz==2022.1
sqlalchemy[asyncio]==1.4.37
