python-dotenv==0.14.0
beautifulsoup4==4.9.1
discord.py==1.7.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
python-dateutil==2.6.1
pytz==2019.3
requests==2.24.0
requests-unixsocket==0.1.5
tabulate==0.8.7
yarl==1.4.2
feedparser==6.0.2
googletrans==3.0.0